@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&display=swap');
#card {
    color:#fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 16px 16px #dfebe51a;
    font-family: 'Lexend Deca', sans-serif;
    margin-left: 25%;
    font-size: 20px;
    font-weight: bold;
    width:50%;
    background-color: rgba(68, 60, 60, 0.082);
  }
#card .leftmargin{
    margin-right: 60%;
}
  #user {
    font-size: 20px;
    margin: 0;
  }

  #flex {
    display: flex;
    align-items: center;
  }

  #views,
  #name,
  #gender,
  #email,
  #age,
  #since {
    margin: 0;
    padding: 5px;
  }

 
  #gender::before {
    content: 'Gender:';
    font-weight: bold;
  }

  #age::before {
    content: 'Age:';
    font-weight: bold;
  }

  

  #flex img {
    max-width: 40px;
    margin-right: 10px;
  }

  #user,
  #name,
  #email,
  #age,
  #since {
    color: #fff;
  }

  #gender {
    color: #f9f9f9;
  }
  .views{
    border: 2px white solid;
    margin-left: 80%;
    border-radius: 5%;
    
  }
#since{
    color:gray !important;
}